.box{
    width: 530px;
    height: 250px;
    background-color: white;
    border:2px solid skyblue;
    margin-top: 160px;
    margin-left: auto;
    font-family: new time roman;
    margin-right: auto;
    border-radius: 5px;
}
.note{
    font-style: bold;
    margin-left:15px ;
     color: red;
     
    
}
h3{
    margin-left: 15px;
    font-size:25px;
    margin-top: 10px;
}
label{
    width:50px;
    height: 90px;
background-color: whotw;
border : 2px solid #ccc;
color: black;
cursor: pointer;
border-radius: 5px;
margin: 4px 0;
padding-left: 15px;
padding-right: 15px;
padding-top: 6px;
padding-bottom: 6px;


margin-left: 15px;
font-size: 20px;
font-family: new time roman;

}
input[type=text]{
    width: 400px;
    padding-top: 6px;
    height: 40px;
    margin-left: -1em;
    border-radius: 1px;
    border : 2px solid #ccc;
    padding-left: 10px;
    font-family: new times roman;
    font-size:14px;
   

}
input[type=text]:focus{
    border : 2px solid red;
}
input[type=text]:focus{
    border: 1px solid skyblue;
}
.btn{
width:100px;
background-color: rgb(118, 118, 245);
border : 2px solid white;
color: white;
cursor: pointer;
border-radius: 7px;
margin: 4px 0;
padding:10px;

margin-top: 16px;
margin-left: 15px;
font-size: 20px;
font-family: new time roman;

}


.result{
width: 900px;
height: 50px;
display: none;
border: 1px solid skyblue;
background-color: lightblue;
text-align: center;
padding-top: 2px;
margin-left: 17%;
margin-top: 30px;
color: rgb(3, 3, 20);
}
a{
text-decoration: none;
}
label{
border-right: none;
}